* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --border-radius: 10px;
  --font-family: "Oswald", sans-serif;
  --red: #ffabb2;
  --violet: #e5d1e8;
  --grey: #d1d9e8;
  --blue: #e6feff;
  --white: #fbfaff;
  --dark: #694649;
  --darker: #362425;
  background-color: var(--dark);
}

.App {
  text-align: center;
  font-family: "American typewriter";
}

.App-header {
  /* max-width: 80%; */
  min-width: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-links {
  background-color: #282c34;
  height: 10vh;
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.App-header p {
  align-self: center;
  text-align: center;
}

.btns-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-btn {
  height: auto;
  width: 2.2em;
}

@media (max-width: 700px) {
}
